---
# tasks file for docker

- name: Update system packages
  yum:
    name: "*"
    state: latest

- name: Install required packages
  yum:
    name: docker
    state: present

- name: Start and enable Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

