---
# tasks file for swarm-worker

- name: Check swarm status
  shell: docker info --format '{{ "{{.Swarm.LocalNodeState}}" }}'
  register: swarm_state
  changed_when: false

- name: Join Docker Swarm
  shell: >
    docker swarm join
    --token {{ hostvars['swarm_token_holder']['swarm_worker_token'] }}
    {{ hostvars['swarm_token_holder']['manager_ip'] }}:2377
  when: swarm_state.stdout != "active"
  register: join_result
  failed_when: >
    join_result.rc != 0 and
    'Timeout was reached before node joined' not in join_result.stderr
  
