---
# tasks file for swarm-manager

- name: Check swarm status
  shell: docker info --format '{{ "{{.Swarm.LocalNodeState}}" }}'
  register: swarm_state
  changed_when: false

- name: Initialize Docker Swarm
  shell: >
    docker swarm init
    --advertise-addr {{ ansible_default_ipv4.address }}
  when: swarm_state.stdout != "active"

- name: Get worker join token
  shell: docker swarm join-token -q worker
  register: worker_token
  changed_when: false

- name: Share worker token
  add_host:
    name: swarm_token_holder
    swarm_worker_token: "{{ worker_token.stdout }}"
    manager_ip: "{{ ansible_default_ipv4.address }}"

